body, html, form, table { height:101%; }
            table { border:2px solid gray; }
#head
{
    
      background-color:#4A96AD;
  
 
    }
    .auto-style1
    {
        margin-left:300px;
        
        }
        #orderGrid
        {
            margin-bottom:10px;
    text-align: center;
}

h1 {
  
  margin: -0.5px auto;
  color: red;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-family: 'Lemonada', cursive;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: normal;
    text-align: center;
}

form
{
    padding-top : 20%;
}

.animate
{
	transition: all 0.1s;
	-webkit-transition: all 0.1s;
}

.red
{
    margin-bottom:30px;
	background-color: #E74C3C;
	border-bottom: 5px solid #BD3E31;
	text-shadow: 0px -2px #BD3E31;
}

.action-button:active
{
	transform: translate(0px,5px);
  -webkit-transform: translate(0px,5px);
	border-bottom: 1px solid;
}
